.git
.github
.gitmodules

bin
benchmark
recipe
scripts

build
build-*
cmake-build-*
_build

*.conda
*.tar.bz2

**/CMakeCache.txt
**/CMakeFiles
**/Makefile.cmake
**/cmake_install.cmake
**/*.o
**/*.a
**/*.so
**/*.so.*

submodule/hal/bin
submodule/hal/lib
submodule/hal/objs
submodule/sonLib/bin
submodule/sonLib/lib
submodule/sonLib/externalTools/quicktree_1.1/bin
submodule/sonLib/externalTools/quicktree_1.1/obj
