.git
.github
.gitmodules

bin/*
!bin/halAppendCactusSubtree
benchmark
recipe
scripts
tests
package
packaging-sources
wfmash_router_integration_artifacts

build
build-*
cmake-build-*
_build

*.conda
*.tar.bz2

**/CMakeCache.txt
**/CMakeFiles
**/Makefile.cmake
**/cmake_install.cmake
**/*.o
**/*.a
**/*.so
**/*.so.*

third_party/hal/bin
third_party/hal/lib
third_party/hal/objs
third_party/sonLib/bin
third_party/sonLib/lib
third_party/sonLib/externalTools/quicktree_1.1/bin
third_party/sonLib/externalTools/quicktree_1.1/obj
