[submodule "submodule/spdlog"]
	path = submodule/spdlog
	url = https://github.com/gabime/spdlog.git
	ignore = all
[submodule "submodule/parlaylib"]
	path = submodule/parlaylib
	url = https://github.com/cmuparlay/parlaylib.git
	ignore = all
[submodule "benchmark/mafTools"]
	path = benchmark/mafTools
	url = https://github.com/dentearl/mafTools.git
[submodule "benchmark/sonLib"]
	path = benchmark/sonLib
	url = https://github.com/benedictpaten/sonLib.git
[submodule "benchmark/pinchesAndCacti"]
	path = benchmark/pinchesAndCacti
	url = https://github.com/benedictpaten/pinchesAndCacti.git
[submodule "benchmark/mwgAlignAnalysis"]
	path = benchmark/mwgAlignAnalysis
	url = https://github.com/dentearl/mwgAlignAnalysis.git
[submodule "submodule/kseqpp"]
	path = submodule/kseqpp
	url = https://github.com/cartoonist/kseqpp.git
[submodule "submodule/libdivsufsort"]
	path = submodule/libdivsufsort
	url = https://github.com/simongog/libdivsufsort.git
[submodule "submodule/sonLib"]
	path = submodule/sonLib
	url = https://github.com/ComparativeGenomicsToolkit/sonLib.git
[submodule "submodule/hal"]
	path = submodule/hal
	url = https://github.com/ComparativeGenomicsToolkit/hal.git
